.drop-down-info {
    width: 10rem;
    height:  3.5rem;
    margin-bottom: 2rem;
    padding: 0 0.5rem 0 1.5rem;
    border-radius: 2.125rem;
    color: $color-grey;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-sm-md;
    line-height: 1.4;
    letter-spacing: .2rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    -webkit-box-align: center;
    -webkit-box-pack: justify;

    &:focus-visible {
      border: 4px  dotted $color-light-blue;
    }
}

.arrow-icon {
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(180deg);
    transition: transform 0.5s, filter 0.2s,
    -webkit-transform 0.5s, -webkit-filter 0.2s;
}

.rotate {
  transform: rotate(0deg);  
}

/* =================
     Desktop Style
   ================= */
@media all and (min-width: 56.25rem) {
 .drop-down-info {
   align-self: flex-end;
   margin-left: auto;
   margin-right: 2rem;
   margin-bottom: 2rem;
 }
}