.quote-text {
    font-size: $font-size-sm;
    line-height: 1.75em;
    text-transform: capitalize;
}

.quote-author {
    font-size: $font-size-sm;
}

.greeting-text {
    font-size: $font-size-smx;
    font-weight: 400;
    letter-spacing: 3px;
}

.time {
    font-size: $font-size-xl;
    
    span {
        font-size: $font-size-smx;
        font-weight: 400; 
    }
}

.time-zone {
    margin: 1em 0 3em 0;
    font-size: $font-size-smx;
    letter-spacing: 1px;
}

.info-text {
    font-weight: 400;
    font-size: $font-size-sm;
    line-height: 5em;
    letter-spacing: 1px;
}

.info-text-bold {
   font-size:  $font-size-md;
   text-transform: capitalize;
}



