$color-white: #ffff;
$color-grey: #8f8c8c;
$color-light-grey: #ffffffbf;
$color-black: #303030;
$color-light-blue: #4191ec;

$font-size-xxl: 10rem;
$font-size-xl: 6.25rem;
$font-size-l: 2.5rem;
$font-size-l-md: 1.85rem;
$font-size-md: 1.25rem;
$font-size-sm-l: 1rem;
$font-size-sm-md: 0.75rem;
$font-size-sm: 0.625rem;


